.main-nav {
  position: relative;
  
  @media(min-width: 768px) {
    position: static;
    width: 70%;
    align-self: flex-end;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  top: 6px;
  right: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $black-basic;
  box-shadow: 0 8px 0 0 $black-basic, 0 16px 0 0 $black-basic;
  
  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 50px;
  right: 0;
  width: 320px;
  
  @media(min-width: 425px) {
    width: 425px;
  }
  
  @media(min-width: 600px) {
    width: 600px;
  }
  
  @media(min-width: 768px) {
    width: 60%;
    top: 55px;
    left: 17%;
  }
  
  @media(min-width: 1220px) {
    left: 20%;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}


.main-nav--opened .main-nav__toggle {
  margin-left: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $black-basic;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}