.page-header {
  @media(min-width: 768px) {
    position: relative;
    
    &::after {
      content: "";
      display: block;
      width: 34%;
      height: 10px;
      background: linear-gradient(91.17deg, $magenta-dark 0.01%, $magenta-light 100.01%);
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }
}

.page-header__wrapper {
  margin: 5px auto 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  
  @media(min-width: 768px) {
    align-items: center;  
  }
}

.page-header__icon {
  width: 60px;
  height: 42px;
  
  @media(min-width: 768px) {
    width: 120px;
    height: 84px;
  }
}

.page-header__mail {
  display: none;
  
  @media(min-width: 768px) {
    display: inline-block;
    color: $black-basic;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    align-self: flex-end;
  }
  
  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.page-header .main-nav--opened {
  min-height: 200px;

  @media (min-width: 768px) {
    min-height: auto;
  }
}
