.page-footer {
  min-height: 40px;  
  border-top: 1px solid $border-input;
  
  @media(min-width: 768px) {
    border: none;
  }
}

.page-footer__wrapper {
  text-align: center;
  
}

.page-footer__link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: $copyright-gray;
  cursor: pointer;
  display: inline-block;
  padding: 15px 0;
  

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}
