.quote__item {
  margin: 0;
}

.quote__author-image {
  width: 100%;
  height: auto; 
}

.quote__text {
  padding: 0 10px;
  
  span {
    display: block;
  }
  
  @media(min-width: 768px) {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

.quote__author-name {
  @media(min-width: 768px) {
    padding-left: 200px;
  }
}