.button {
  width: 210px;
  height: 30px;
  background: linear-gradient(91.17deg, $magenta-light 0.01%, $magenta-dark 100.01%);
  text-align: center;
  color: $white-basic;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  
  @media(min-width: 1220px) {
    width: 260px;
    font-size: 24px;
    line-height: 24px;
  }

  &:hover {
    opacity: 30%;
  }

  &:active {
    opacity: 60%;
  }
}