// Colors
$color-basic: #111111;
$black-basic: #000000;
$black-opacity: rgba(0, 0, 0, 0.5);
$black-shadow: rgba(0, 0, 0, 0.05);
$white-basic: #ffffff;
$magenta-light: #eb5d56;
$magenta-dark: #390a40;
$gray-dark: #4f4f4f;
$gray-opacity: rgba(16, 15, 15, 0.66);
$gray-form: rgba(51, 51, 51, 0.6);
$border-input: #fcfae1;
$copyright-gray: #828282;

